:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.window-titlebar {
  &.fullscreen {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &:hover {
      opacity: 1;
    }
  }
}

.window-content {
  &.fullscreen {
    margin: 0;
    padding: 0;
  }
}
