<div class="slideshow-container">
  <div class="slide-track" [ngClass]="direction === 'left' ? 'slide-left' : 'slide-right'">
    @for (item of slideShowElements; track $index) {
      <div class="slide-item">
        <a [href]="item.link" target="_blank" class="logo-link">
          <img
            [ngSrc]="item.image"
            alt="{{ item.link }}"
            width="120"
            height="120"
            priority="{{$index < 4}}"
            (error)="handleImageError($event)"
          />
        </a>
      </div>
    }
  </div>
</div>
