@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100svh;
  font-size: 100%;
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  color: #f8f9fa;
}

* {
  box-sizing: border-box;
  user-select: none;
}

