.airquality-chart {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--color-background-secondary);
  border: var(--border-width) var(--border-style) var(--color-border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
